<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Include external font styles from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>CareBridge</title>
  </head>
  <body>
    <div class="header">
      <div class="logo-image">
        <a href="/">
          <img src="../static/logo.png" alt="Logo" />
        </a>
      </div>
      <div class="title-container">
        <h1>Welcome to CareBridge</h1>
      </div>
    </div>

    <div class="intro">
      <p>
        CareBridge is a web-based healthcare communication tool designed to help
        you understand and interpret medical documents and notes from healthcare
        providers.
      </p>
      <p>
        With this tool, you can easily upload your doctor's notes or medical
        documents, and it will extract the text from them. You can then receive
        an explanation in plain English to help you understand the medical
        information contained in the documents.
      </p>
    </div>

    <h3>How to Use:</h3>
    <div class="instructions">
      <ol>
        <li>Click the "Choose File" button below.</li>
        <li>
          Select the medical document or image containing the notes you want to
          understand.
        </li>
        <li>Click "Upload" to initiate the process.</li>
        <li>Wait for the tool to process the document.</li>
        <li>
          Once processing is complete, you'll receive an explanation of the
          medical content.
        </li>
      </ol>
      <p>
        Please note that while this tool can provide helpful insights, it's
        essential to consult with a healthcare professional for any medical
        advice or decisions. Use the tool as a resource to enhance your
        understanding of your healthcare information.
      </p>
    </div>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <input
        type="file"
        name="file"
        accept="image/*"
        required
        onchange="previewFile()"
      />

      <!-- Image preview container -->
      <div id="imagePreviewContainer" style="display: none">
        <h2>Preview:</h2>
        <img id="imagePreview" alt="File Preview" style="max-width: 100%" />
      </div>

      <div id="loader-container" style="display: none; text-align: center">
        <span id="processing-text">Processing...</span>
        <div id="loader" class="loader"></div>
      </div>

      <button type="submit">Upload</button>
    </form>

    <!-- JavaScript for file preview -->
    <script>
      function previewFile() {
        var fileInput = document.querySelector('input[type="file"]');
        var imagePreview = document.getElementById("imagePreview");
        var imagePreviewContainer = document.getElementById(
          "imagePreviewContainer"
        );

        // Display the selected image preview
        if (fileInput.files && fileInput.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            imagePreview.src = e.target.result;
            imagePreviewContainer.style.display = "flex";
          };
          reader.readAsDataURL(fileInput.files[0]);
        }
      }
      document.querySelector("form").addEventListener("submit", function () {
        document.getElementById("loader-container").style.display = "block";
      });
    </script>
  </body>
</html>
