<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Include external font styles from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>CareBridge</title>
  </head>
  <body>
    <h1>Upload Your Doctor's Note</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input
        type="file"
        name="file"
        accept="image/*"
        required
        onchange="previewFile()"
      />

      <!-- Image preview container -->
      <div id="imagePreviewContainer" style="display: none">
        <h2>Preview:</h2>
        <img id="imagePreview" alt="File Preview" style="max-width: 100%" />
      </div>

      <div id="loader-container" style="display: none; text-align: center">
        <span id="processing-text">Processing...</span>
        <div id="loader" class="loader"></div>
      </div>

      <button type="submit">Upload</button>
    </form>

    <!-- JavaScript for file preview -->
    <script>
      function previewFile() {
        var fileInput = document.querySelector('input[type="file"]');
        var imagePreview = document.getElementById("imagePreview");
        var imagePreviewContainer = document.getElementById(
          "imagePreviewContainer"
        );

        // Display the selected image preview
        if (fileInput.files && fileInput.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            imagePreview.src = e.target.result;
            imagePreviewContainer.style.display = "block";
          };
          reader.readAsDataURL(fileInput.files[0]);
        }
      }
      document.querySelector("form").addEventListener("submit", function () {
        document.getElementById("loader-container").style.display = "block";
      });
    </script>
  </body>
</html>
